name: Build

on:
  push:
    tags: [ v* ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    env:
      dist: ffxiv-dresser-analyze-${{ github.ref_name }}.zip
    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
        cache-dependency-path: web/package-lock.json
    - name: Install
      run: npm install
      working-directory: web
    - name: Build Web
      run: npm run build
      working-directory: web

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Build Client
      run: dotnet build --configuration Release
      working-directory: client

    - name: Pack
      run: 7z a -mx9 -bb ${{ env.dist }} ./client/bin/Release/net8.0/*
    - name: Checksum
      id: checksum
      run: Get-FileHash -A SHA256 ${{ env.dist }} | %{ $_.Hash }
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        body: ${{ toJSON(steps.checksum.outputs) }}
        draft: true
        files: ${{ env.dist }}
